<!DOCTYPE html>
<html lang ="en">
    <head> 
        <link rel="stylesheet" href="site.css" type="text/css" media="screen"/>
    </head>
<body>

    <div class="login-page">
        <div class="form">
      <h4>Thanks for viewing! </h4>
      <p>This demo is powered by:</p>
      <a href="https://nodejs.org/en/"><img src="https://img.icons8.com/color/1600/nodejs.png" alt="node.js" height="150" width="150"></a>  
      <a href="https://www.mongodb.com/"><img src="https://3.bp.blogspot.com/-NLgOIL0vKJg/W0yrvqx8ZsI/AAAAAAAABfg/l7fFkNQf5S02YIanj4H9KKWiZJNmSlKigCLcBGAs/s1600/mongodb.png" alt="mongoDB" height="150" width="150"></a> 
      <a href="https://mlab.com/"><img src="https://d3bql97l1ytoxn.cloudfront.net/app_resources/10429/overview/img8128257743536616284.png" alt="mlab" height="150" width="150"></a> 
    </div>
  </div>

</body>
</html>