
    <div class="home-page">
        <div class="form">
      <h4>Thanks for viewing! </h4>
      <p>This demo is powered by:</p>
      <a href="https://nodejs.org/en/"><img src="https://img.icons8.com/color/1600/nodejs.png" alt="node.js" height="150" width="150"></a>  
      <a href="https://www.mongodb.com/"><img src="https://3.bp.blogspot.com/-NLgOIL0vKJg/W0yrvqx8ZsI/AAAAAAAABfg/l7fFkNQf5S02YIanj4H9KKWiZJNmSlKigCLcBGAs/s1600/mongodb.png" alt="mongoDB" height="150" width="150"></a> 
      <a href="https://mlab.com/"><img src="https://d3bql97l1ytoxn.cloudfront.net/app_resources/10429/overview/img8128257743536616284.png" alt="mlab" height="150" width="150"></a> 
      <a href="https://handlebarsjs.com/"><img src="https://i0.wp.com/blog.fossasia.org/wp-content/uploads/2017/07/handlebars-js.png?fit=500%2C500&ssl=1" alt="mlab" height="150" width="150"></a> 
      <a href="https://getbootstrap.com/"><img src="https://profil-software.com/media/image/bootstrap.png" alt="mlab" height="150" width="150"></a> 
      <a href="https://www.heroku.com"><img src="https://png.icons8.com/color/1600/heroku" alt="heroku" height="150" width="150"></a></br></br>      
      <a href="https://colorlib.com/wp/"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/colorlib-logo-top.png" alt="heroku" height="50" width="150"></a>
      <p class="message">Ready to end the session? <a href="/logout">Logout</a></p>
    </div>
  </div>
