
    <div class="login-page">
        <div class="form">
          {{#if errorMessage}}
            <div class="alert alert-danger"> {{errorMessage}} </div>     
          {{/if}}
          <form method="post" action="/login" class="login-form">
            <input type="text" name="userName" id="userName" placeholder="username"/>
            <input type="password" name="password" id="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="/registration">Create an account</a></p>
          </form>
        </div>
      </div>
